/* Size Classes  */
/* Font Weight */
.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
/* Font Size */
.fs-10 {
  font-size: 10px;
}
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-24 {
  font-size: 24px;
}
.fs-28 {
  font-size: 28px;
}
.fs-32 {
  font-size: 32px;
}
.fs-36 {
  font-size: 36px;
}
/* height and width */
._h-20 {
  height: 20px;
}
._h-25 {
  height: 25px;
}
._h-30 {
  height: 30px;
}
._h-35 {
  height: 35px;
}
._h-40 {
  height: 40px;
}
._h-50 {
  height: 50px;
}
._h-60 {
  height: 60px;
}
._h-70 {
  height: 70px;
}
._h-80 {
  height: 80px;
}
._h-100 {
  height: 100px;
}

._h-200 {
  height: 200px;
}
._h-250 {
  height: 250px;
}
._h-400 {
  height: 400px;
}
/*  */
._w-20 {
  width: 20px;
}
._w-25 {
  width: 25px;
}
._w-30 {
  width: 30px;
}
._w-35 {
  width: 35px;
}
._w-40 {
  width: 40px;
}
._w-50 {
  width: 50px;
}
._w-100 {
  width: 100px;
}
._w-150 {
  width: 150px;
}
._w-200 {
  width: 200px;
}
/* in % */
.w-80 {
  width: 80%;
}
