/* Css Class */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 200 !important;
  font-style: normal !important;
  font-size: 1rem;
}

/* Generic Style */
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #080c1a;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}
input:focus,
textarea:focus {
  outline: none;
}
/* Custom BTN */
.MyBtn {
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 300;
  background: #111111;
  color: #ffffff;
  transition: all 0.3s ease;
}
/* Menu */
.navigation i {
  margin-bottom: -6px;
}
.navigationLink a {
  padding: 0.2rem 0.5rem;
  border-radius: 4rem;
  transition: all 0.7s ease cubic-bezier(0.1, 0.1, 0.6, 0.1);
}
.navigationLink a:hover {
  background: linear-gradient(to right, #f2f2f2, #ffffff);
  color: #080c1a;
}
.navigationLink a.active {
  background: linear-gradient(to right, #f2f2f2, #ffffff);
  border: 1px solid #f2f2f2;
  color: #080c1a;
  font-weight: 500;
}
.headerLink a {
  padding: 0.2rem 0.3rem;
  border-radius: 4rem;
  transition: all 0.7s ease cubic-bezier(0.1, 0.1, 0.6, 0.1);
}
.headerLink .log {
  border: 1px solid #f2f2f2;
  transition: all 0.3s ease;
}
.headerLink a:hover {
  background: linear-gradient(to right, #f2f2f2, #ffffff);
  color: #080c1a;
}
.linkBanner a {
  transition: all 0.3s ease;
}
.linkBanner a:hover {
  color: #d6f0fd;
  font-weight: 500;
  transform: scale(1);
}

.menuBox {
  border-radius: 24px;
}
.searchHeader {
  width: 60%;
}
.search {
  border-radius: 4rem;
  border: 1px solid #f2f2f2;
}
.search input {
  border: none;
  outline: none;
  background: transparent !important;
  padding: 8px 4px;
  font-size: 14px;
  color: #a9a7a7;
}
.search button {
  color: #a9a7a7;
}
.search input::placeholder {
  color: #a9a7a7;
  font-size: 14px;
}
/* banner */

.bannerBox .BannerBoxText {
  padding: 100px 50px;
}
.bannerBoxImg {
  width: 100%;
  height: 410px;
}
.bannerBoxImg img {
  width: 100%;
  height: auto;
  background-size: cover;
  object-fit: cover;
  transform: rotate(10deg);
}
/* card Product */
.wishlist {
  top: 18px;
  right: 10px;
  transition: all 0.3s ease;
}
.addToCart {
  top: 60px;
  right: 10px;
  transition: all 0.3s ease;
}
.myBtnPub {
  width: 100%;
  left: 20px;
  bottom: 30px;
}
.wishlist:hover,
.addToCart:hover {
  transform: scale(1.1);
  background: #111111 !important;
  color: #d6f0fd !important;
}
.wishlist:hover i,
.addToCart:hover i {
  transform: scale(1);
  color: #d6f0fd !important;
}
.cardPub {
  height: 400px;
  transition: all 0.5s ease;
}
.cardPub img {
  transition: all 0.5s ease;
  background-size: cover;
  object-fit: cover;
  transition-timing-function: cubic-bezier(0.1, 0.1, 0.6, 0.1);
}
.cardPub:hover img {
  transform: scale(1.8) rotate(25deg);
}
.cardPubDescription {
  bottom: 0;
  color: #ffffff;
  background: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0.5));
  border-radius: 2rem 2rem 0 0;
}
/* Brand trusted */
.brandTrusted {
  border: 1.8px solid #f2f2f2;
  border-radius: 4rem;
}
/* promotion banner */
.promotionBanner {
  height: 500px;
  border: 1.8px solid #f2f2f2;
}
.promotionBanner img {
  transform: scale(1.2) rotate(10deg);
  background-size: cover;
  object-fit: cover;
  transition: all 0.5s ease;
}
.promotionBanner:hover img {
  transform: scale(1.5) rotate(25deg);
}
.overlayBlack {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #000, rgba(0, 0, 0, 0.1));
  z-index: 2;
}
.promotionBanner .textDescription {
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  z-index: 999;
  color: #ffffff;
}
/* Shipping Info */
.shippingBox {
  background: linear-gradient(to bottom, #f7f7f7, #ffffff);
}
.shippingInfo {
  border: 1.8px solid #f2f2f2;
}
/* footer */
footer ul li a {
  transition: all 0.3s ease;
}
footer ul li a:hover {
  font-weight: 500;
  color: #d6f0fd;
  transform: scale(1.8);
}
footer .follow a {
  border: 1px solid #212d5c;
  transition: all 0.3s ease;
}
.footerUnderline {
  height: 1px;
  width: 80px;
  background: linear-gradient(to right, #212d5c, #080c1a);
}
footer .subscribe {
  padding: 1rem 3px 1rem 1rem;
  border-radius: 4rem;
  border: 1px solid #212d5c;
}
footer .subscribe input {
  border: none;
  outline: none;
  background: transparent !important;
  font-size: 14px;
  color: #8f9da4;
  font-weight: 300;
}
footer .subscribe input::placeholder {
  color: #8f9da4;
  font-size: 14px;
}
footer .subscribe button {
  color: #8f9da4;
  background: #131a36;
}

/* product view */
.productView {
  width: 600px;
  height: 400px;
  border-radius: 1rem;
  background: linear-gradient(to right, #f7f7f7, #ffffff);
}
.contactFormBox {
  width: 600px;
}
.productBox {
  width: 450px;
  height: 400px;
}
.productBoxRelate {
  width: 150px;
  height: 400px;
}
.productBoxRelate div {
  height: 120px;
}
.productDetails,
.contactFormDetails {
  width: 500px;
}
/* contact */
.contactFormDetails div {
  border-bottom: 1px solid #f2f2f2;
}
